<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    {% block head %}
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/style.css" />
    {% if self.title() %}
    <title>{% block title %}{% endblock %} - 37C3 subtitles</title>
    {% else %}
    <title>37C3 subtitles</title>
    {% endif %}
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <script src="/static/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>