{% extends "base.html" %}
{% block title %}{{event.title}}{% endblock %}
{% block head %}
    {{ super() }}
    <script>
      function confirmAction(event) {
        if (!confirm("Are you sure?")) {
          event.preventDefault();
        }
      }
    </script>
{% endblock %}
{% block content %}
  <div class="container">
    <h2>{{event.title}}</h2>
    {% if event.subtitle %}
    <div class="mb-4">{{event.subtitle}}</div>
    {% endif %}

    <div class="d-flex gap-5 mb-5 space-between">
      <div>
        <img src="{{event.thumb_url}}" class="img-fluid" alt="{{event.title}}">
      </div>

      <div>
        <div class="mb-4">
          <b>State</b><br>
          {{state.state|format_state}}
          <div class="mt-2">
            <div class="mb-2"><a href="{{transcribee_url}}" class="btn btn-primary">Edit in transcribee</a></div>
            {% if state.state.value == "needs_correction" %}
            <form method="post" action="/events/{{event.guid}}/mark_corrected">
              <div class="mb-2"><button onClick="confirmAction(event)" class="btn btn-success">Finish correction</button></div>
            </form>
            {% endif %}
            {% if state.state.value == "done" %}
            <form method="post" action="/events/{{event.guid}}/mark_needs_correction">
              <div class="mb-2"><button onClick="confirmAction(event)" class="btn btn-warning">Needs correction</button></div>
            </form>
            {% endif %}
            {% if state.state.value == "needs_correction" or state.state.value == "done" %}
            <form method="post" action="/events/{{event.guid}}/upload_to_voc">
              <div class="mb-2"><button class="btn btn-warning">(Re)upload to voc</button></div>
            </form>
            {% endif %}
            {% if state.failed %}
            <form method="post" action="/events/{{event.guid}}/reset_failed">
              <div class="mb-2"><button class="btn btn-warning">Reset failed state</button></div>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="properties-tab" data-bs-toggle="tab" data-bs-target="#properties-tab-pane" type="button" role="tab" aria-controls="properties-tab-pane" aria-selected="true">Properties</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="description-tab" data-bs-toggle="tab" data-bs-target="#description-tab-pane" type="button" role="tab" aria-controls="description-tab-pane" aria-selected="false">Description</button>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane show active" id="properties-tab-pane" role="tabpanel" aria-labelledby="properties-tab" tabindex="0">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Language</th>
              <td>{{event.original_language}}</td>
            </tr>
            <tr>
              <th scope="row">Duration</th>
              <td>{{event.duration|format_seconds}}</td>
            </tr>
            <tr>
              <th scope="row">Speakers</th>
              <td>{{event.persons|join(", ") }}</td>
            </tr>
            <tr>
              <th scope="row">Date</th>
              <td>{{event.date}}</td>
            </tr>
            <tr>
              <th scope="row">API URL</th>
              <td><a href="{{event.url}}">{{event.url}}</a></td>
            </tr>
            <tr>
              <th scope="row">Link</th>
              <td><a href="{{event.link}}">{{event.link}}</a></td>
            </tr>
            <tr>
              <th scope="row">Media Link</th>
              <td><a href="{{event.frontend_link}}">{{event.frontend_link}}</a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="tab-pane" id="description-tab-pane" role="tabpanel" aria-labelledby="description-tab" tabindex="0">
        <div class="mt-4">
          {% for paragraph in event.description.split("\n\n") %}
            <p>{{paragraph|replace("\n","<br>")|safe}}</p>
          {% endfor %}
        </div>
      </div>
    </div>

    <div>
      <b>Logs</b>
      <table class="table mt-4">
        {% for log in state.log %}
          <tr><td class="w-25">{{log.ts}}</td><td> {{log.msg}}</td></tr>
        {% endfor %}
      </div>
    </div>

  </div>
{% endblock %}