{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style type="text/css">
    .event-thumb {
      width: 100px;
    }

    .event {
      min-height: 60px;
    }
    </style>
{% endblock %}
{% block content %}
  <div class="container">
    <h2>Todo ({{events|length}})</h2>
    <ul class="list-group">
    {% for event in events %}
      <li class="list-group-item d-flex align-items-center event">
        <!-- <div class="event-thumb me-4">
          <img class="w-100" src="{{event.thumb_url}}"/>
        </div> -->
        <div class="flex-grow-1">
          <a href="/events/{{event.guid}}">{{ event.title }}</a>
        </div>
        <div>
          <span class="badge rounded-pill {% if state[event.guid].state.value == "done" %}text-bg-success{% else %}text-bg-warning{% endif %}">{{ state[event.guid].state | format_state }}</span>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}